<nav> 
   <div class="top-bar" id="mainNavigation">
      <div class='top-bar-left'>
        <ul class="menu vertical medium-horizontal">
          <li class='menu-text hide-for-small-only'>Ecommerce Site</li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div>
  </div>
</nav>